* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1150px;
  max-width: 90%;
  margin: 0 auto;
}
.navbar {
  display: flex;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
  position: sticky;
  top: 0;
  z-index: 999;
}

.bg {
  background-color: white !important;
}

.menu {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
}

.left_navbar h2 {
  font-size: 1.5rem;
}

.right_navbar {
  display: flex;
}
.right_navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.right_navbar ul li {
  font-size: 13.86px;
  margin-right: 1.2rem;
  font-family: roboto, sans-serif;
  cursor: pointer;
}

.right_navbar .color_mode {
  display: flex;
  align-items: center;
  margin-left: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.footer_page {
  padding-top: 8rem;
  padding-bottom: 4rem;
  text-align: center;
}
